*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul.nav{ 
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #F44336;
    list-style-type: none;
    box-shadow: 1px 1px 3px grey;
    z-index: 1;
    margin: 0;
    padding: 0;
}
ul.nav li{
    float: left;
    font-size: 1.5em;
}
a{
    height: 60px;
    padding: 0.6em 1em;
    text-decoration: none;
    color: #fff;
    display: block;
}
li > a.active{
    background: #fff;
    color: #000;
}
li > a.active:hover{
    background: #CCCCCC;
    color: #000;
}
a:hover{
    background: #fff;
    color: #000;
}
div.start{
    height: auto;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 150px 0px 120px 0px;
    background: #F44336;
    font-family: sans-serif;
}
div.start > h1 > b{
    font-size: 2.2em;
}
p.template{
  padding: 20px 0px 20px 0px;
  text-align: center;
  font-size: 1.5em;
}
button{
    background-color: black;
    border: none;
    color: white;
    padding: 5px;
    height: 60px;
    width: 15%;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    font-size: 1.3em;
}
button:hover{
    background: #CCCCCC;
    color: #000;
}
div.container{
    padding: 30px 150px 0px 150px;
}
div.container1{
    padding: 65px 30px 0px 0px;
    float: right;
    color: #F44336;
    font-size: 12em; 
    z-index: -1;
}
div.ipsum{
    height: auto;
    width: 65%;
    margin: 20px;
    text-align: justify;
    padding-bottom: 30px;
    font-family: sans-serif;
}
div.ipsum > h1{
    height: 50px;
    line-height: 70px;
    color: #434343;
    font-family: sans-serif;
}
div.ipsum > p:nth-child(odd), div.Lorem > p:nth-child(odd){
    padding: 50px 0px;
    color: #848484;
    text-align: left;
    line-height: 23px;
}
div.wrap{
    height: 300px;
    width: 100%;
    background: #F1F1F1;
    padding: 100px 180px 380px 180px;
}
div.Lorem{
    height: 90%;
    width: 70%;
    float: right;
    font-family: sans-serif;
}
div.Lorem > h1{
    line-height: 0.8em;
    text-transform: capitalize;
    padding-bottom: 40px;
    color: #434343;
}
div.wrap1{
    color: #F44336;
    font-size: 12em;
    float: left;
    position: relative;
    bottom: 10%;
    padding: 30px 0px;
}
div.box{
    height: auto;
    width: 100%;
    padding: 100px 0px;
    color: #fff;
    text-align: center;
    font-family: monospace;
    text-transform: capitalize;
    background: #666666;
    font-size: 2em;
}
footer{
    height: auto;
    width: 100%;
    color: grey;
    text-align: center;
    font-family: monospace;
    line-height: 30px;
    padding: 70px 0px 70px 0px;
}
footer div.icons > i{
    text-align: center;
    margin: 6px;
    cursor: pointer;
}
footer div.icons > i:hover{
    color: silver;
    cursor: pointer;
}
footer div.w3{
    font-family: monospace;
    cursor: pointer;
    width: 15%;
    margin: auto;
    font-size: 1.2em;
}
label{
    text-decoration: underline;
}




